
  <section class="hero" id="home" aria-label="home">
    <div class="container">

      <div class="hero-content">

        <h1 class="headline headline-1 section-title">
          Arts & Métiers<span class="span">Aeronautics</span>
        </h1>

        <p class="hero-text">
          Le club Arts et Métiers Aeronautics de l'ENSAM Casablanca est un groupe d'étudiants passionnés par
          l'aéronautique. Ce club fournit un espace propice à l'échange de connaissances et à la concrétisation de
          projets innovants. Dans ce cadre empreint de détermination et d'espoir, des événements tels que des
          conférences, des ateliers, des visites , et des compétitions sont organisés pour préparer ses membres aux
          rigueurs de l'industrie aéronautique.
        </p>



      </div>

      <div class="hero-banner">

        <img src="./Images/AERO.svg" width="327" height="490" alt="Wren Clark" class="w-100">

        <img src="./assets/images/pattern-2.svg" width="27" height="26" alt="shape" class="shape shape-1">

        <img src="./assets/images/pattern-3.svg" width="27" height="26" alt="shape" class="shape shape-2">

      </div>

      <img src="./assets/images/shadow-1.svg" width="500" height="800" alt="" class="hero-bg hero-bg-1">

      <img src="./assets/images/shadow-2.svg" width="500" height="500" alt="" class="hero-bg hero-bg-2">

    </div>
  </section>