<section class="history" id="history" aria-labelledby="history-label">
  <div class="container">

    <h2 class="headline headline-2 section-title" id="history-label">
      <span class="span">History</span>
    </h2>

    <p class="section-text">
      Flying has always been a dream for humanity. Many have achieved it by piloting aircraft themselves, others by
      becoming passionate about aerospace science and technology, which is complex and among the most demanding. Many
      have invested themselves in it over the course of a rich and exciting career, and finally others set their
      sights on it, often without having precisely measured what the adventure will bring them, but by attaching
      themselves to it instinctively.

      Created in 2018, Arts & Métiers Aeronautics Club of Ensam Casablanca aims to promote aeronautical and space
      activities in all its forms, particularly through technical projects carried out by its members.

      As such, it constitutes a bridge and a place where neophytes and enthusiasts come together.

      In this perspective, it proposes various projects and activities every year, such as the construction of mini
      aircraft: radio controlled airplanes and airships, gliders ..., training in remote control electronics for scale
      models ... as well as the organization of seminars and scientific conferences led by experts in the field.

      Arts & Métiers Aeronautics Club of Ensam Casablanca thus allows its members to enter the aeronautical and space
      sector before the end of their studies, to fuel their passion, to better understand the particularities of the
      field and to grasp its specific issues.

      It’s then that these engineering students decide to join "for fun". You can well imagine what happens next...
      This pleasure quickly becomes an overflowing passion, and therefore the opportunities to dive head-first into
      this new hobby get multiplied at high speed!
    </p>
  </div>
</section>