<section class="section projects" aria-label="projects" id="projects">

  <div class="container">

    <h2 class="headline headline-2 section-title">
      <span class="span">Nos Projects</span>
    </h2>

    <ul class="projects-list">

      <li>
        <div class="card projects-card">

          <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
            <img src="./projects/pro1.png" width="1602" height="903" loading="lazy"
              alt="Self-observation is the first step of inner unfolding" class="img-cover">
          </figure>

          <div class="card-content">

            <div class="card-wrapper">
              <div class="card-tag">
                <a href="#" class="span hover-2">#Arts_&_Métiers_Aeronautics</a>
              </div>

              <div class="wrapper">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                <span class="span">3 mins read</span>
              </div>
            </div>

            <h3 class="headline headline-3">
              <a href="#" class="card-title hover-2">
                Delivery Drone
              </a>
            </h3>


          </div>

        </div>
      </li>

      <li>
        <div class="card projects-card">

          <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
            <img src="./projects/pro2.png" width="1602" height="903" loading="lazy"
              alt="Self-observation is the first step of inner unfolding" class="img-cover">
          </figure>

          <div class="card-content">

            <div class="card-wrapper">
              <div class="card-tag">
                <a href="#" class="span hover-2">#Arts_&_Métiers_Aeronautics</a>
              </div>

              <div class="wrapper">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                <span class="span">6 mins read</span>
              </div>
            </div>

            <h3 class="headline headline-3">
              <a href="#" class="card-title hover-2">
                Autonomous Solar Plane
              </a>
            </h3>


          </div>

        </div>
      </li>



    </ul>

    <a href="#" class="btn btn-secondary">
      <span class="span">Show More Projects</span>

      <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
    </a>

  </div>

  <img src="./assets/images/shadow-3.svg" width="500" height="1500" loading="lazy" alt="" class="projects-bg">

</section>